<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="RoyalRouteConnectionString" connectionString="Data Source=A0013-PC\SQLEXPRESS;Initial Catalog=RoyalRoute;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="RoyalRouteConnectionString2" connectionString="Data Source=A0013-PC\SQLEXPRESS;Initial Catalog=RoyalRoute;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="RoyalRouteConnectionString3" connectionString="Data Source=A0013-PC\SQLEXPRESS;Initial Catalog=RoyalRoute;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="RoyalRouteConnectionString4" connectionString="Data Source=A0013-PC\SQLEXPRESS;Initial Catalog=RoyalRoute;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
